/vendor/
node_modules/

.env
.env.backup
.env.production

/public/build/
/public/hot
/storage/*.key
/storage/framework/
!/storage/framework/.gitignore
/storage/logs/

bootstrap/cache/*
!bootstrap/cache/.gitignore

.phpunit.result.cache

Homestead.json
Homestead.yaml

/.idea/
/.vscode/

.DS_Store
Thumbs.db